:root {
    /* **colors** */
    --dark-bg-color:#001319;
    --light-bg-color:#004d66;
    --medium-bg-color:#002f40;
    --dark-red-color:#cc0014;
    --light-red-color:#cc0052;
    --dark-yellow-color:#f2f224;
    --medium-yellow-color:#FFFF66;
    --medium-yellow-color-alpha:rgba(255, 255, 102, 0.8);
    --light-yellow-color:#fffff2;
    --light-green-color:#00ff8c;
    --light-blue-color:#1885DA;
    --white-color:#ffffff;
    /* **fonts** */
    --default-font-size: 16px;
    /* **Paddings and margins** */
    --default-padding: 5px 25px;
    /* **Backgrounds** */
    --background-profile:url("../images/profile/IMG-20200126-WA0006.jpg");
}

body {
  background-color:var(--medium-yellow-color);
  background-position: center;
  color:var(--medium-bg-color);
  font-size: var(--default-font-size);
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
}

::selection {
  background-color: var(--medium-bg-color);
  color: var(--medium-yellow-color);
}

a {
  color:var(--medium-bg-color);
  padding:0px 5px;
}

a:hover {
  color:var(--light-bg-color)
}

a:link {
  color:var(--medium-bg-color);
}


#main { 
  height:100vh;
}

#Footer { }

#About {
  font-size: 1.2em;
  opacity: 0;
  display: none;
  padding:var(--default-padding);
}

#About img {
  height:128px;
  border-radius: 100%;
}

#About a svg {
  height: 96px;
  padding:15px;
}

#About a svg g {
  fill:var(--medium-bg-color);
}

#About ul {
  padding: 0;
  display: inline-flex;
  list-style: none;
}

#About li {
  font-size: 1.5em;
  padding: 0px 5px;
}

#Presentation {
  opacity: 0;
  background-color: var(--medium-yellow-color);
}

#Presentation .col {
  display: none;
}

#Services {
  font-size: 3em;
  color: var(--medium-bg-color);
}

#Footer {
  position: absolute;
  bottom: 0;
  padding: 20px 45px;
}
#Footer a {
  font-size: 32px;

}

@media screen and (min-width: 800px) and (min-height: 600px) {
  
}