:root {
  /* **colors** */
  --dark-bg-color:#001319;
  --light-bg-color:#004d66;
  --medium-bg-color:#002f40;
  --dark-red-color:#cc0014;
  --light-red-color:#cc0052;
  --dark-yellow-color:#f2f224;
  --medium-yellow-color:#FFFF66;
  --light-yellow-color:#fffff2;
  --light-green-color:#00ff8c;
  --light-blue-color:#1885DA;
  --white-color:#ffffff;
  /* **backgrounds** */
  --background-image-main:url("https://res.cloudinary.com/djjkfuxvk/image/upload/v1592511986/background_image_jttddt.jpg");
  /* **fonts** */
  --default-font-size: 16px;
  /* **default padding** */
  --default-padding:20px 20px;
  /* ** z-index ** */
  --default-main-z-index:1000;
}

::selection {
  background-color: var(--medium-bg-color);
}

html {
  /* FIXME */
  overflow:hidden;
}

body {
  background-color:var(--dark-bg-color);
  color:var(--white-color);
  font-size: var(--desktop-font-size);
  font-family: 'Titillium Web', sans-serif;
}

#main {
  overflow: hidden;
  height: 100vh;
}

#main-background {
  background-image: var(--background-image-main);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100%;
  filter: blur(5px);
  overflow: hidden;
}

#main-background-video {
  /*add background-image: url();*/
  width: 100% !important;
  height: auto !important;
  display: none;
}

#blog {
  height: 100vh;
}
#blog-posts {
  position: absolute;
  width: 100%;
  z-index: 300;
  padding:var(--default-padding);
}
#blog-posts a {
  color:var(--white-color);
}

.blog-topic p {
  display: none;
  font-size: 1.2em;
}
.blog-topic:hover p {
  display: block;
}

#blog-post-related-image {
  position: absolute;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-color: var(--medium-bg-color);
  filter: blur(1px) brightness(40%);
}

#logo-container {
  position: absolute;
  width: 100%;
  z-index: var(--default-main-z-index);
}

#logo { 
  width: 70vw;
  height: 60vh;
}

#logo path {
  fill: var(--white-color);
}

#top-bar {
  position: absolute;
  padding: 15px 15px;
  z-index: calc(var(--default-main-z-index) + 10);
}

#top-bar a {
  color:var(--light-yellow-color);
  font-size:1.5em; 
}

#go-to-blog {
  position: absolute;
  bottom: 0;
  left:0;
  display: block;
  z-index: var(--default-main-z-index);
}

#go-to-blog a {
  color:var(--light-yellow-color);
  font-size: 1.5em;
}

#go-to-blog span:nth-child(1) {
  writing-mode: vertical-lr;
}

#go-to-blog strong {
  display: none;
}

/*Responsive Media Queries*/

@media screen and (min-width: 800px) and (min-height: 600px) {
  #go-to-blog strong {
    display: inline;
  }
  #go-to-blog span:nth-child(1) {
    padding-bottom: 10px;
  }
  #logo { 
    height: 50vh;
    width: auto; 
  }
  #main-background-video {
    display: block;
  }
  #main-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}