:root {
  /* **colors** */
  --dark-bg-color:#001319;
  --light-bg-color:#004d66;
  --medium-bg-color:#002f40;
  --dark-red-color:#cc0014;
  --light-red-color:#cc0052;
  --dark-yellow-color:#f2f224;
  --medium-yellow-color:#FFFF66;
  --light-yellow-color:#fffff2;
  --light-green-color:#00ff8c;
  --light-blue-color:#1885DA;
  --white-color:#ffffff;
  
  /* **fonts** */
  --default-font-size: 16px;
  --dark-font-color:#001319;
  --light-font-color:#fffff2;

  /* **default padding** */
  --default-padding:0 15vw;
  
  /* ** z-index ** */
  --default-main-z-index:1000;
}

::selection {
  background-color: var(--medium-bg-color);
}

body {
  background-color:var(--dark-bg-color);
  color:var(--light-yellow-color);
  font-size: var(--default-font-size);
  font-family: 'Titillium Web', sans-serif;
}

#post-logo {
  width: auto;
  height:48px;
}

#post-logo path {
  fill: var(--light-yellow-color);
}

#post-image img {
  position: relative;
  width: 100%;
  z-index: 2000;
}

#post-image-background {
  position: absolute;
  width:100%;
  height: 100vh;
  z-index: 1000;
  filter: blur(1px) brightness(80%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#post-text header {
  font-family: 'Titillium Web', sans-serif;
  padding:10px 0 0 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  margin:0 0 10px 0;
}

#post-text {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 2000;
  min-height: 60vh;
  background-color: var(--dark-bg-color);
  padding: 0 15px 25px 15px;
}

@media screen and (min-width: 800px) and (min-height: 600px) {
  

  #post-image img {
    width: 60vw;
    height: auto;
  }
  
  #post-logo {
    width: auto;
    height:64px;
  }

  #post-text {
    padding: 0 15vw 25px 15vw;
  }

  #post-navbar {
    padding: 15px 15vw;
  } 
}