<div id="main" class="container-fluid h-100">
  <div id="About-Banner"></div>
  <div id="presentation" class="row h-100 align-items-center text-center">
    <div class="col"> <h1>Olá!</h1> </div>
    <div class="col"> Meu Nome é Rafael Schüng </div>
    <div class="col"> Tenho </div>
    <div class="col"> <h1>24</h1> </div>
    <div class="col"> Anos de idade </div>
    <div class="col"> Eu sou...  </div>
    <div class="col"> &ltDesenvolvedor/&gt </div>
    <div class="col"> Entusiasta  </div>
    <div class="col"> e </div>
    <div class="col"> Apaixonado por computação </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>