<div id="main" class="container-fluid h-100">
  <ul id="left-bar">
    <li><small>{{site.time | date: "%Y"}}</small></li>
    <li></li>
    <li><i class="fab fa-facebook-square"></i></li>
    <li><i class="fab fa-linkedin"></i></li>
  </ul>
  <div id="top-bar" class="row w-100 align-items-end">
    <div class="col text-right">
      <!-- <a class="btn" href="./about"> <i class="fas fa-info-circle"></i> Sobre</a> -->
      <a class="btn" href= {{site.github_page}} > <i class="fab fa-github"></i> Github</a>
    </div>
  </div>
  <div class="row h-100 align-items-center">
    <div class="col text-center">
      <img id="logo" src="../../assets/images/logos/personal logo invory.svg" alt="Rafael Schueng">
    </div>
  </div>
  <div id="go-to-blog" class="w-100 text-center">
      <span>
        <strong>BLOG</strong>
      </span>
  </div>
</div>
<div id="secondary" class="container-fluid">
  <div class="w-100 h-25"></div>
  <div class="w-100 h-25"></div>
  <div class="w-100 h-25"></div>
  <div class="w-100 h-25"></div>
</div>